{% extends 'layouts/app.twig' %}

{% block content %}
    <div class="col-md-8 col-md-offset-2">
        {% include 'layouts/flash.twig' %}
        <h1>{{lang.label.order_history_label}}</h1><hr>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum obcaecati beatae, officia velit unde corrupti mollitia autem vel dignissimos. Dolorum assumenda esse laudantium nihil fugit! Ut alias saepe suscipit quidem?
    </div>
{% endblock %}