Hi, {{ name }}
<br>
<br>
You request a password change. Please click the link below. 
<br>
<a href="{{client_url}}/{{path_for('reset.password', {'token_id':token})}}">Click here</a>
<br>
<br>
<br>
Thanks, <br>
Adsoft

